<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cyberdrop</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <style>
        * {
            margin-top: 25px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-decoration: none;
        }

        .preview {
            height: 20%;
            width: 20%;
        }

        .frame {
            width: 100%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://127.0.0.1:4000/socket.io/socket.io.js"></script>
</head>

<body>
    <center><img src="logo.png" width="250" height="250">
        <h1>cydrop downloader</h1>
        <h1> シドロプ </h1>
        <div id='title'></div>
        <div id="progress"></div>
        <div id="status"></div>
        <span>incomplete images maybe be corrupted</span>
        <div id="photos"></div>
    </center>

    <script>
        const socket = io('http://127.0.0.1:4000/');

        var photos = []

        function renderPhotos(photos, stop) {
            var i = 1
            $('#photos').empty()
            while (i < stop) {
                // if (!typeof photos[i] === 'undefined') {
                $('#photos').append('<div class="frame"><img id="photo" class="preview" widht="250" height="250" src="' + photos[i] + '?' + new Date().getTime() + '"></div>')
                i++
                // }
            }
        }

        function savePhoto(photo) {

            var i = 0
            var stop = photo.size++
            while (i < stop) {
                if (i == photo.number)
                    photos[i] = photo.source
                i++
            }
            setTimeout(() => {renderPhotos(photos, stop)}, 5000)
        }

        function renderProgress(progress) {
            $('#progress').html(progress);
        }

        function renderTitle(title) {
            $('#title').html(title);
        }

        function renderStatus(status) {
            $('#status').append(status + '<br><a style="color: purple; text-decoration:none;" href="/index">go back</a>');
        }

        socket.on('progress', function (progress) {
            renderProgress(progress);
        })

        socket.on('title', function (title) {
            renderTitle(title);
        })

        socket.on('status', function (status) {
            renderStatus(status);
        })

        socket.on('photo', function (photo) {
            savePhoto(photo)
        })
    </script>
</body>

</html>