<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cyberdrop</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <style>
        * {
            margin-top: 25px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
        }

        #goAgain {
            text-decoration: none;
        }

        .img {
            height: 50%;
            width: 50%;
        }

        .moldura {
            width: 100%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://127.0.0.1:4000/socket.io/socket.io.js"></script>
</head>

<body bgcolor='white'>
    <center><img src="logo.png" class="logo" width="250" height="250" id="image" srcset="">
        <h1 style="color:black" class="logo">cyberdrop downloader</h1>
        <div id='title'></div>
        <div id="progress"></div>
        <div id="status"></div>
        <div id="photos"></div>
    </center>

    <script>
        const socket = io('http://127.0.0.1:4000/');

        function sleep(time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }

        var photos = []

        function renderPhotos(photos, size) {
            var i = 1
            $('#photos').empty()
            var stop = size++
            while (i < size) {
                // if (typeof photos[i] !== 'undefined') {
                    $('#photos').append('<img id="photo" widht="250" height="250" src="' + photos[i] + '?' + new Date().getTime() + '">')
                    console.log(photos[i])
                    i++
                // }
            }
        }

        function savePhoto(photo) {

            var i = 0
            var stop = photo.size++
            while (i < stop) {
                if (i == photo.number)
                    photos[i] = photo.source
                i++
            }
            renderPhotos(photos, photo.size)
        }

        function renderProgress(progress) {
            $('#progress').html(progress);
        }

        function renderTitle(title) {
            $('#title').html(title);
        }

        function renderStatus(status) {
            $('#status').append(status + '<br><a style="color: purple; text-decoration:none;" href="/index">go back</a>');
        }

        socket.on('progress', function (progress) {
            renderProgress(progress);
        })

        socket.on('title', function (title) {
            renderTitle(title);
        })

        socket.on('status', function (status) {
            renderStatus(status);
        })

        socket.on('photo', function (photo) {
            savePhoto(photo)
        })
    </script>
</body>

</html>